.user-card {
    width: 75%;
    display: grid;
    grid-template:  'header header' 2.5rem
                    'icon body'   auto / auto 1fr;
    box-sizing: border-box;
    background-color: #313131;
    border: 1px solid #666;
    border-radius: 15px;
    color: white;
    align-content: center;
    grid-column-gap: 0.5rem;
}

.user-img-container {
    width: 5rem;
    height: auto;
    padding: 1.5rem 0.75rem;
    grid-area: icon;
}

.user-icon {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-self: center;
}

.user-card-header {
    grid-area: header;
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 1fr fit-content;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

.user-card-header .user-main {
    justify-self: start;
}

.user-card-header a {
    color: white;
    text-decoration: underline;
}

.user-card-header a:hover {
    text-decoration: none;
    color: grey;
}

.user-body {
    grid-area: body;
}

@media only screen and (max-width: 400px){
    .user-card {
        grid-template:  'header' 2.5rem
                        'icon'   auto 
                        'body' auto;
        justify-content: center;
        justify-items: center;
    }

    .user-card-header {
        padding: 0.5rem 0;
    }

    .user-card-header .user-main {
        justify-self: center;
    }

    .user-img-container {
        padding: 0;
        grid-area: icon;
    }
}