.sub-card {
    width: 75vw;
    display: grid;
    grid-template:  'header header' 2.5rem
                    'icon body'   auto
                    'footer footer' auto / auto 1fr;
    box-sizing: border-box;
    background-color: #313131;
    border: 1px solid #666;
    border-radius: 15px;
    color: white;
    align-content: center;
}

.sub-img-container {
    width: 5rem;
    height: auto;
    padding: 0.75rem;
    grid-area: icon;
    align-self: center;
}

.sub-card-header {
    grid-area: header;
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 1fr fit-content;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

.sub-card-header .main {
    justify-self: start;
}

.sub-card-header a {
    color: white;
    text-decoration: underline;
}

.sub-card-header a:hover {
    text-decoration: none;
    color: grey;
}

.sub-card-footer {
    grid-area: footer;
    padding: 0.5rem 0.75rem;
}

@media only screen and (max-width: 400px){
    .sub-card {
        grid-template:  'header header' 2.5rem
                        'body body'   auto
                        'footer footer' auto / auto 1fr;

        .sub-img-container {
            display: none;
        }
    }
}