.post-body {
    grid-area: body;
    padding: 0 0.75rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 1rem;
    height: calc(fit-content + 1rem);
    width: 100%;
}

.listing-card {
    overflow-y: hidden;
    position: relative;
    height: calc(fit-content + 1rem);
    max-height: 55vh;
}

.gradient-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    z-index: 2;
    cursor: pointer;
}

.post-body p {
    line-height: 1.5em;
    padding: 0.5rem 2em;
    word-break: break-all;
    white-space: normal;
}

.post-body a {
    color: white;
    text-decoration: underline;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.post-body h1 {
    padding: 0 2rem;
    padding-bottom: 1rem;
    font-size: 2em;
}

.post-body h2 {
    padding-bottom: 1rem;
    font-size: 1.5em;
}

.post-body h3 {
    padding: 0 2rem;
    padding-bottom: 1rem;
    font-size: 1.25em;
}

.post-body ul {
    padding-left: 5rem;
}

.post-body pre {
    padding: 0.5rem 2rem;
}

.post-body code {
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 1em;
    padding: 0.5rem;
    border: 1px solid #666;
}

.post-body table {
    margin: 0 auto;
    justify-self: center;
}

.post-body table {
    border: 2px solid #666;
    border-collapse: collapse;
}

.post-body :is(th, td) {
    border: 1px solid #666;
    padding: 0.5rem;
}
.post-body th {
    background-color: #282828;
}

.post-body td {
    background-color: #202020;
}

.body-text {
    width: 100%;
}

.body-header {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    min-width: 10rem;
    width: fit-content;
    max-width: 75%;
    margin: 0 auto;
}

.container :is(img, video) {
    width: 100%;
    height: auto;
}

.link-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 2rem;
    border: 1px solid #666;
    border-radius: 15px;
    align-items: center;
    text-decoration: none !important;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    gap: 2rem;
    flex-basis: 50%;
}

.link-container:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.link-container:active {
    border: 2px solit #666; 
}

.link-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.link-text h3 {
    line-height: 0;
    padding: 0;
}

.gallery {
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    align-self: center;
}

.gallery .post-arrow {
    width: 6vw;
    min-width: 3rem;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0 1rem;
}

.post-arrow:hover {
    background-color: white;
}

.gallery .right {
    right: -1rem;
}

.gallery .left {
    left: -1rem;
}

.gallery > .gallery-image {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

@media only screen and (max-width: 900px) {
    .body-header {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px){
    .post-body {
        font-size: 0.75rem;
    }

    .body-header {
        padding: 0.75rem;
        gap: 1rem;
    }

    .body-header h2 {
        padding-bottom: 0.25rem;
        font-size: 1.25em;
    }

    .link-container {
        padding: 0.75rem;
    }

    .link-text h3 {
        font-size: 1rem;
    }

    .post-body p {
        padding: 0.25rem 2em;
    }
    
    .post-body h1 {
        padding: 0 1.5rem;
        padding-bottom: 0.75rem;
    }
    
    .post-body h2 {
        padding-bottom: 0.5rem;
    }
    
    .post-body h3 {
        padding: 0 1rem;
        padding-bottom: 0.5rem;
    }
    
    .post-body ul {
        padding-left: 0.5rem;
    }
    
    .post-body pre {
        padding: 0.25rem 1rem;
    }
    
    .post-body code {
        padding: 0.25rem;
    }
    
    .post-body :is(th, td) {
        padding: 0.25rem;
    }
}