.post-hero {
    width: 75%;
    display: grid;
    grid-template:  'score header' 2.5rem
                    'score body'   auto
                    'score footer' auto / 4rem 1fr;
    box-sizing: border-box;
    background-color: #313131;
    border: 1px solid #666;
    border-radius: 15px;
    color: white;
    align-content: center;
}

.post-hero .post-score {
    grid-area: score;
    justify-self: center;
    align-self: start;
    background-color: #282828;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    color: rgb(145, 145, 145);
    padding: 1rem 0;
    box-sizing: border-box;
}

.post-hero .arrow {
    width: 2.5rem;
}

.post-hero .card-header {
    grid-area: header;
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 1fr fit-content;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.post-hero .card-header .main {
    grid-column: 1;
    justify-self: start;
}

.post-hero .card-header a {
    color: white;
    text-decoration: underline;
    line-height: 1.5;
}

.post-hero .card-header a:hover {
    text-decoration: none;
    color: grey;
}

.post-hero .card-header .time {
    grid-column: 2;
    justify-self: end;
}

.post-hero .card-footer {
    grid-area: footer;
    padding: 0.5rem 0.75rem;
}

@media only screen and (max-width: 700px) {
    .post-hero {
        grid-template:  'header' auto
                        'body'   auto
                        'footer' auto;
        grid-template-rows: 1rem auto auto;
        grid-row-gap: 0.5rem;
        width: 90%;
    }

    .post-hero .post-score {
        display: none;
    }

    .post-hero .card-header {
        font-size: 0.75rem;
    }

    .post-hero .card-footer {
        font-size: 0.75rem;
    }
}